<%- include head.ejs %>

<div class="container-fluid">
  <div class="header">
    <div class="logo">
      <span>Maryland Energy Administration</span>
      <h1>Smart Energy Investment Dashboard</h1>
    </div>
    <p class="sub-title">Powered by Open Data on <a href="http://data.maryland.gov">data.maryland.gov</a></p>
  </div>
  <div class="dashboard"></div>
</div>

<%- include templates.html %>
<%- include footer.ejs %>