<%- include head.ejs %>
<%- include header.ejs %>

<div class="dashboard">
  <div class="row">
    <div class="col-md-6 block0"></div>
    <div class="col-md-6 block1"></div>
  </div>
  <div class="row">
    <div class="col-md-6 block2"></div>
    <div class="col-md-6 block3"></div>
  </div>
  <div class="row">
    <div class="col-md-6 block4"></div>
    <div class="col-md-6 block5"></div>
  </div>
</div><!-- /.dashboard -->

<%- include templates.html %>
<%- include footer.ejs %>