<%- include head.ejs %>
<%- include header.ejs %>

<div class="dashboard">
  <div class="row">
    <div class="col-md-12">
      <div class="tabs">
        <ul class="nav nav-pills">
          <li class="active"><a href="#energyeffiency" data-toggle="pill">Energy Effiency</a></li>
          <li><a href="#renewableenergy" data-toggle="pill">Renewable Energy</a></li>
          <li><a href="#transportation" data-toggle="pill">Transportation</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 block block0"></div>
    <div class="col-md-6 block block1"></div>
  </div>
  <div class="row">
    <div class="col-md-6 block block2"></div>
    <div class="col-md-6 block block3"></div>
  </div>
  <div class="row">
    <div class="col-md-6 block block4"></div>
    <div class="col-md-6 block block5"></div>
  </div>
</div><!-- /.dashboard -->

<%- include templates.html %>
<%- include footer.ejs %>