<script type="text/template" id="dashboard-template">
  <div class="row">
    <div class="col-md-12">
      <div class="tabs">
        <ul class="nav nav-pills">
          <li class="active"><a href="#renewableenergy" data-toggle="pill">Renewable Energy</a></li>
          <li><a href="#energyeffiency" data-toggle="pill">Energy Effiency</a></li>
          <li><a href="#transportation" data-toggle="pill">Transportation</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 block block0"></div>
    <div class="col-md-6 block block1"></div>
  </div>
  <div class="row">
    <div class="col-md-6 block block2"></div>
    <div class="col-md-6 block block3"></div>
  </div>
  <div class="row">
    <div class="col-md-6 block block4"></div>
    <div class="col-md-6 block block5"></div>
  </div>
</script>

<script type="text/template" id="table-template">
  <div class="chart">
    {{> toolbar }}
    {{> title }}
    <div class="chart-inner">
      <table class="table table-bordered table-striped table-condensed">
        <thead>
          <tr>
          {{#data.columns}}
            <th>{{.}}</th>
          {{/data.columns}}
          </tr>
        </thead>
        <tbody>
        {{#data.rows}}
          <tr>
          {{#row}}
            <td>{{.}}</td>
          {{/row}}
          </tr>
        {{/data.rows}}
        </tbody>
      </table>
    </div>
  </div>
</script>

<script type="text/template" id="chart-template">
  <div class="chart">
    {{> toolbar }}
    {{> title }}
    <div class="chart-inner"></div>
  </div>
</script>

<script type="text/template" id="stat-template">
  <div class="chart">
    {{> title }}
    <div class="chart-inner">
      <div class="stat"><span></span></div>
    </div>
  </div>
</script>

<script type="text/template" id="filter-menu-template">
  <div class="chart">
    {{> title }}
    <div class="chart-inner">
      <div class="filters">
        <div class="filter-box technology"><div class="filter-title">Technology</div></div>
        <div class="filter-box vehicle-technology"><div class="filter-title">Vehicle Technology</div></div>
        <div class="filter-box program"><div class="filter-title">Program Type</div></div>
        <div class="filter-box sector"><div class="filter-title">Sector</div></div>
      </div>
    </div>
  </div>
</script>

<script type="text/template" id="map-template">
  <div class="chart map">
    {{> title }}
    <div class="chart-inner"></div>
  </div>
</script>

<script type="text/template" id="title-partial">
  <div class="title"><h3>{{ title }}</h3></div>
</script>

<script type="text/template" id="toolbar-partial">
  <div class="toolbar">
    <i class="fa fa-table tool totable"></i>
    <i class="fa fa-bar-chart-o tool tochart"></i>
    <i class="fa fa-download tool download"></i>
    <i class="fa fa-code tool code"></i>
  </div>
</script>

<script type="text/template" id="filter-label-template">
  <input type="checkbox">
  <span>{{display}}</span>
</script>

<script type="text/template" id="project-type-filter">
  <input type="checkbox">
  <span class="swatch"></span>
  <span>{{display}}</span>
</script>