<script type="text/template" id="dashboard-template">
  <div class="row">
    <div class="col-sm-6">
      <div class="tabs">
        <ul class="nav nav-pills">
          <li class="active"><a href="#renewableenergy" data-toggle="pill">Renewable Energy</a></li>
          <li><a href="#energyeffiency" data-toggle="pill">Energy Effiency</a></li>
          <li><a href="#transportation" data-toggle="pill">Transportation</a></li>
        </ul>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="filter-summary">

      </div>
    </div>
  </div>
  <div class="charts">
    <div class="row"></div>
  </div>
</script>

<script type="text/template" id="table-template">
  <div class="{{width}} block">
    <div class="chart">
      {{> title }}
      <div class="chart-inner">
        <table class="table table-condensed">
          <thead>
            <tr>
            <th id="{{key}}"></th>
            <th id="value">{{units}}</th>
            </tr>
          </thead>
          <tbody>
          {{#data.rows}}
            <tr>
            {{#row}}
              <td>{{.}}</td>
            {{/row}}
            </tr>
          {{/data.rows}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</script>

<script type="text/template" id="table-empty-template">
  <div class="{{width}} block">
    <div class="chart">
      {{> title }}
      <div class="chart-inner">
        <table class="table table-condensed">

        </table>
      </div>
    </div>
  </div>
</script>

<script type="text/template" id="chart-template">
<div class="{{width}} block">
  <div class="chart">
    {{> title }}
    <div class="chart-inner">
      <div class="loader"><i class="fa fa-circle-o-notch fa-spin"></i></div>
      <div class="the-chart"></div>
    </div>
  </div>
</div>
</script>

<script type="text/template" id="stat-template">
<div class="{{width}} block">
  <div class="chart">
    {{> title }}
    <div class="chart-inner">
      <div class="loader"><i class="fa fa-circle-o-notch fa-spin"></i></div>
      <div class="the-chart"><div class="stat"></div></div>
    </div>
  </div>
</div>
</script>

<script type="text/template" id="filter-menu-template">
<div class="col-sm-6 block">
  <div class="chart">
    {{> title }}
    <div class="chart-inner">
    <div class="row">

    </div>
      <div class="filters container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="description">
            <p>Select filters below to view and compare Maryland Energy Administration contributions to the growth of clean, renewable energy and energy efficiency industries in our state.</p>
            <p>Select different layers on the map to view contributions to specific regions in Maryland.</p>
            </div>
          </div>
          <div class="filter-box technology col-md-6"><div class="filter-title">Technology</div><div class="the-filters"></div></div>
          <div class="filter-box vehicle_technology col-md-6"><div class="filter-title">Vehicle Technology</div><div class="the-filters"></div></div>
          <div class="filter-box charging_fueling_station_technology col-md-6"><div class="filter-title">Charging Station Technology</div><div class="the-filters"></div></div>
          <div class="filter-box program col-md-6"><div class="filter-title">Program</div><div class="the-filters"></div></div>
          <div class="filter-box sector col-md-6"><div class="filter-title">Sector</div><div class="the-filters"></div></div>
        </div>
      </div>
    </div>
  </div>
</div>
</script>

<script type="text/template" id="map-template">
<div class="col-sm-6 block">
  <div class="map"></div>
</div>
</script>

<script type="text/template" id="layers-template">
{{#layers}}
<div id="{{id}}" class="layerToggle leaflet-control">
  <p data-dynamite-selected="true">{{name}}<i class="fa fa-check"></i></p>
</div>
{{/layers}}
</script>

<script type="text/template" id="title-partial">
  <div class="title">
    {{#toolbar}}
    <div class="toolbar">
      <i class="fa fa-table tool totable"></i>
      <i class="fa fa-bar-chart-o tool tochart"></i>
      <i class="fa fa-download tool download"></i>
      <i class="fa fa-code tool code"></i>
    </div>
    {{/toolbar}}
    <h3>{{ title }}</h3>
  </div>
</script>

<script type="text/template" id="toolbar-partial">
  <div class="toolbar">
    <i class="fa fa-table tool totable"></i>
    <i class="fa fa-bar-chart-o tool tochart"></i>
    <i class="fa fa-download tool download"></i>
    <i class="fa fa-code tool code"></i>
  </div>
</script>

<script type="text/template" id="filter-label-template">
<button type="button" class="btn btn-default btn-xs">{{display}}</button>
</script>

<script type="text/template" id="project-type-filter">
<button type="button" class="btn btn-default btn-xs">{{display}}</button>
</script>

<script type="text/template" id="renewable-popup">
<div class="map-project">
  <ul class="list-unstyled">
    <li><b>Technology:</b> {{technology}}</li>
    <li><b>Program Name:</b> <a href="{{link}}">{{program_name}}</a></li>
    <li><b>Project Name:</b> {{project_name}}</li>
    <li><b>MEA Contribution:</b> {{mea_award}}</li>
    <li><b>Other State Contributions:</b> {{other_agency_dollars}}</li>
    <li><b>Total Project Cost:</b> {{total_project_cost}}</li>
    <li><b>Investment Leverage:</b> {{investment_leverage}}</li>
    <li><b>Capacity:</b> {{capacity}} {{capacity_units}}</li>
  <ul>
</div>
</script>