<script type="text/template" id="dashboard-template">
  <div class="row">
    <div class="col-sm-6 block">
      <div class="tabs">
        <ul class="nav nav-pills">
          <li><a href="#home" data-toggle="pill">Home</a></li>
          <li class="active"><a href="#renewableenergy" data-toggle="pill">Renewable Energy</a></li>
          <li><a href="#energyeffiency" data-toggle="pill">Energy Efficiency</a></li>
          <li><a href="#transportation" data-toggle="pill">Transportation</a></li>
        </ul>
      </div>
    </div>
    <div class="col-sm-6 block">
      <div class="filter-summary"></div>
    </div>
  </div>
  <div class="charts">
    <div class="row"></div>
  </div>
</script>

<script type="text/template" id="table-empty-template">
  <div class="{{width}} block">
    <div class="chart">
      {{> title }}
      <div class="chart-inner">
        <table class="table table-condensed table-hover">

        </table>
      </div>
    </div>
  </div>
</script>

<script type="text/template" id="chart-template">
<div class="{{width}} block">
  <div class="chart">
    {{> title }}
    <div class="chart-inner">
      <div class="chart-tools">
      {{#tools}}
        <label><input type="radio" name="{{cid}}-chart-tools" value="{{value}}"> {{text}}</label>
      {{/tools}}
      </div>
      <div class="loader"><i class="fa fa-circle-o-notch fa-spin"></i></div>
      <div class="the-chart"></div>
    </div>
  </div>
</div>
</script>

<script type="text/template" id="stat-template">
<div class="{{width}} block">
  <div class="chart">
    {{> title }}
    <div class="chart-inner">
      <div class="loader"><i class="fa fa-circle-o-notch fa-spin"></i></div>
      <div class="the-chart"><div class="stat"></div></div>
    </div>
  </div>
</div>
</script>

<script type="text/template" id="filter-menu-template">
<div class="col-sm-6 block">
  <div class="chart">
    {{> title }}
    <div class="chart-inner">
    <div class="row">

    </div>
      <div class="filters container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="description">
            <p>Select filters below to view Maryland Energy Administration contributions to the growth of clean, renewable energy and energy efficiency industries in our state.</p>
            <!-- <p>Select different layers on the map to view contributions to specific regions in Maryland.</p> -->
            <button type="button" class="btn btn-default btn-xs reset">Reset Filters</button>
            </div>
          </div>
          <div class="filter-box technology col-md-6"><div class="filter-title">Technology</div><div class="the-filters"></div></div>
          <div class="filter-box vehicle_technology col-md-6"><div class="filter-title">Vehicle Technology</div><div class="the-filters"></div></div>
          <div class="filter-box charging_fueling_station_technology col-md-6"><div class="filter-title">Charging Station Technology</div><div class="the-filters"></div></div>
          <div class="filter-box sector col-md-6"><div class="filter-title">Sector</div><div class="the-filters"></div></div>
          <div class="filter-box program col-md-6"><div class="filter-title">Program</div><div class="the-filters"></div></div>
        </div>
      </div>
    </div>
  </div>
</div>
</script>

<script type="text/template" id="map-template">
<div class="col-sm-6 block">
  <div class="map"></div>
</div>
</script>

<script type="text/template" id="layers-template">
{{#layers}}
<div id="{{id}}" class="layerToggle leaflet-control">
  <p data-dynamite-selected="true">{{name}}<i class="fa fa-check"></i></p>
</div>
{{/layers}}
</script>

<script type="text/template" id="title-partial">
  <div class="title">
    {{#toolbar}}
    <div class="toolbar">
      <i class="fa fa-table tool totable"></i>
      <i class="fa fa-bar-chart-o tool tochart"></i>
      <i class="fa fa-download tool download"></i>
    </div>
    {{/toolbar}}
    <h3>{{ title }}</h3>
  </div>
</script>

<script type="text/template" id="toolbar-partial">
  <div class="toolbar">
    <i class="fa fa-table tool totable"></i>
    <i class="fa fa-bar-chart-o tool tochart"></i>
    <i class="fa fa-download tool download"></i>
  </div>
</script>

<script type="text/template" id="filter-label-template">
<button type="button" class="btn btn-default btn-xs">{{display}}</button>
</script>

<script type="text/template" id="project-type-filter">
<button type="button" class="btn btn-default btn-xs">{{display}}</button>
</script>

<script type="text/template" id="renewable-popup">
<div class="map-project" style="background: {{color}}">
  <ul class="list-unstyled">
    <li><b>Technology:</b> {{technology}}</li>
    <li><b>Program Name:</b> <a href="{{link}}">{{program_name}}</a></li>
    <li><b>Project Name:</b> {{project_name}}</li>
    <li><b>MEA Contribution:</b> {{mea_award}}</li>
    <li><b>Other State Contributions:</b> {{other_agency_dollars}}</li>
    <li><b>Total Project Cost:</b> {{total_project_cost}}</li>
    <li><b>Investment Leverage:</b> {{investment_leverage}}</li>
    <li><b>Capacity:</b> {{capacity}} {{capacity_units}}</li>
    {{#notes}}<li><b>Notes:</b> {{.}}</li>{{/notes}}
  </ul>
</div>
</script>

<script type="text/template" id="energyeffiency-popup">
<div class="map-project" style="background: {{color}}">
  <ul class="list-unstyled">
    <li><b>Program Name:</b> <a href="{{link}}">{{program_name}}</a></li>
    <li><b>Project Name:</b> {{project_name}}</li>
    <li><b>Sector:</b> {{sector}}</li>
    <li><b>MEA Contribution:</b> {{mea_award}}</li>
    <li><b>Other State Contributions:</b> {{other_agency_dollars}}</li>
    <li><b>Total Project Cost:</b> {{total_project_cost}}</li>
    <li><b>Investment Leverage:</b> {{investment_leverage}}</li>
    <li><b>Electricity Savings (kWh):</b> {{electricity_savings_kwh}}</li>
    <li><b>CO2 Emissions Reductions:</b> {{co2_emissions_reductions_tons}}</li>
    {{#notes}}<li><b>Notes:</b> {{.}}</li>{{/notes}}
  </ul>
</div>
</script>

<script type="text/template" id="transportation-popup">
<div class="map-project" style="background: {{color}}">
  <ul class="list-unstyled">
    {{#technology}}<li><b>Charging Station Technology:</b> {{.}}</li>{{/technology}}
    {{#vehicle_technology}}<li><b>Vehicle Technology:</b> {{.}}</li>{{/vehicle_technology}}
    <li><b>Program Name:</b> <a href="{{link}}">{{program_name}}</a></li>
    <li><b>Project Name:</b> {{project_name}}</li>
    <li><b>MEA Contribution:</b> {{mea_award}}</li>
    <li><b>Other State Contributions:</b> {{other_agency_dollars}}</li>
    <li><b>Total Project Cost:</b> {{total_project_cost}}</li>
    <li><b>Investment Leverage:</b> {{investment_leverage}}</li>
    <li><b>Gallons of Gasoline Equivalent Avoided:</b> {{gallons_of_gasoline_equivalent_avoided}} {{capacity_units}}</li>
    <li><b>Notes:</b> {{notes}}</li>
  </ul>
</div>
</script>