@import 'variables.less';

.header {
  overflow: hidden;
  width: 100%;
  background: @alternate3;
  color: @textColor;
  border-bottom: 1px solid @alternate;
  position: relative;
  border-radius: 4px;
  .logo {
    float: left;
    img {
        margin: 10px 30px;
    }
  }

  h1 {
    margin: 0;
    padding-left: 10px;
    color: #efefef;
    font-size: 24px;
    line-height: 40px;
  }

  .version {
    position: absolute;
    right: 10px;
    bottom: 0px;
  }

  .shadow {
    height: 1px;
    width: 100%;
    position: absolute;
    bottom: 0;
    background: @shadow;
  }
}