@media (min-width: 545px) {
  a.navbar-brand {
    h1.small {
      display: none;
    }
    h1.full {
      display: block;
    }
  }
}

@media (max-width: 545px) {
  a.navbar-brand {
    height: auto;
    span {
      display: none;
    }
    h1.small{
      display: block;
    }
    h1.full {
      display: none;
    }
  }
}