@import 'variables.less';
@import 'overrides.less';
@import 'tableview.less';
@import 'header.less';
@import 'mediaqueries.less';

html, body {
  height: 100%;
  width: 100%;
}

body {
  background: #fff;
  /*font-family: 'Roboto', sans-serif;*/
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.navbar {
  background: @meagreen;
  color: #fff;
  border-color: darken(@meagreen, 10%);
  a.navbar-brand {
    color: #fff;
    padding: 0 10px 0 10px;
    span {
      font-size: 12px;
      color: #fff;
    }
    h1 {
      line-height: 20px;
      font-size: 26px;
      margin: 0;
      color: #fff;
      &.small {
        line-height: 50px;
      }
    }
    &:hover {
      color: #eee;
    }
  }
  ul.nav {
    li a {
      color: #fff;
      &:hover {
        color: #eee;
      }
    }
  }
}

#topbar {
  width: 100%;
  overflow: hidden;
  padding: 10px 10px;
  z-index: 2;
  &.affix {
    top: 0px;
    position: fixed;
  }
  .tabs {
    width: 50%;
    float: left;
    margin: 0 0 10px 0;
    text-align: left;
    a {

    }
  }
  .filter-summary {
    width: 50%;
    float: right;
    display: none;
    text-align: left;
    font-size: 12px;
    padding-bottom: 10px;
    color: #444;
    background: #f8f8f8;
    border: 1px solid @tableBorder;
    border-radius: 0px;
    padding: 6px;
    p {
      font-size: 18px;
      margin: 0;
    }
    .filter {
      color: #444;
    }
  }
}

.dashboard {
  padding: 10px 10px;
  text-align: center;
  clear: both;
  overflow: hidden;
  margin-top: 50px;
  .row { padding: 0; margin: 0; }
}

.wrap {

}

.block {
  padding: 0px;
}



.home {
  padding: 10px;
  border: 0px solid @tableBorder;
  margin: 0 auto;
  text-align: left;
  .welcome {
    font-size: 21px;
    font-weight: bold;
  }
  h4 {
    margin-top: 0px;
  }
  .intro {
    font-size: 16px;
  }
  .help {
    font-size: 14px;
    h4 {
      margin-top: 0px;
    }
  }
  .logos {
    text-align: center;
  }
  p.home-nav {
    text-align: center;
  }
  .btn {
    color: white;
  }
  .btn.renewable {
    background: @renewable;
  }
  .btn.efficiency {
    background: @efficiency;
  }
  .btn.transportation {
    background: @transportation;
  }
}

.loader {
  display: none;
  text-align: center;
  position: absolute;
  top: 5px;
  right: 10px;
  z-index: 1;
  font-size: 24px;
  color: #e3e3e3;
}

.map .loader {
  color: #333;
}

.charts {
  display: none;
  .tab-info {
    text-align: right;
    padding-bottom: 10px;
  }
  &> .row {
    border-top: 1px solid @tableBorder;
    border-left: 1px solid @tableBorder;
    margin-bottom: 30px;
  }
}

.chart {
  height: @chartHeight;
  /*background: @alternate;*/
  /*border: 1px solid @tableBorder;*/
  border-right: 1px solid @tableBorder;
  border-bottom: 1px solid @tableBorder;
  overflow: hidden;
  color: @textColor;
  /*box-shadow: 0 0 5px #999;*/
  /*box-shadow: 5px 5px 14px -5px #c5c5c5;*/
  .title {
    overflow: hidden;
    text-align: left;
    padding-bottom: 5px;
    background: #f8f8f8;
    padding: 5px;
    border-bottom: 1px solid @tableBorder;
    h3 {
      margin: 0;
      font-size: 18px;
      line-height: 20px;
    }
    .toolbar {
      float: right;
      text-align: right;
      .tool {
        padding: 0px;
      }
      .tool:hover {
        cursor: pointer;
        background: rgba(0, 0, 0, 0.1);
      }
    }
  }
  .chart-inner {
    width: 100%;
    background: #fff;
    overflow-y: auto;
    overflow-x: hidden;
    clear: both;
    /*border: 1px solid @tableBorder;*/
    position: relative;
    .stat {
      height: 100%;
      ul {
        text-align: left;
        list-style-type: none;
        padding: 0px;
        margin: 0px;
        font-size: 16px;
      }
      span {
        width: 100%;
        display: inline-block;
        vertical-align: middle;
      }
    }
    .chart-tools {
      text-align: left;
      position: absolute;
      top: 45px;
      right: 10px;
      z-index: 1;
      font-size: 24px;
      color: #e3e3e3;
      border: 1px solid #ccc;
      background: #fff;
      font-size: 10px;
      padding: 2px 5px;
      label {
        margin-bottom: 0px;
        display: block;
        color: #b1b1b1;
        font-size: 11px;
        line-height: 12px;
        font-family: sans-serif;
        font-weight: normal;
        input {
          font-size: 10px;
        }
      }
    }
    .the-chart {
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      background-color: inherit;
      z-index: 0;
    }
    .nodata {
      display: none;
      margin: 0 auto;
      text-align: center;
      padding-top: 100px;
    }
    .filters {
      height: 100%;
      padding: 0px;
      .filter-box {
        overflow: hidden;
        padding-top: 10px;
        padding-bottom: 5px;
        display: none;
        .filter-title {
          text-align: left;
          margin: 0px 0px 5px 0px;
          font-size: 14px;
          font-weight: bold;
          border-bottom: 0px solid #444;
          .projects-icon {
            float: left;
            margin-right: 5px;
            margin-top: 5px;
            width: 12px;
            height: 12px;
          }
        }
        &.program {
          .the-filters {
            border-left: 0px solid #333;
          }
        }
        .the-filters {
          padding-top: 1px;
          border-left: 1px solid #333;
          overflow: hidden;
        }
        .filter-label {
          margin-top: -1px;
          float: left;
          margin-right: 0px;
          margin-bottom: 0px;
          text-align: left;
          font-size: 12px;
           button {
            font-size: 13px;
            border-radius: 0px;
            border-left: 0px;
            &.active:before {
              font-family: FontAwesome;
              font-size: 10px;
              padding-right: 3px;
              content:"\f00c";
            }
          }
          .swatch {
            float: left;
            height: 15px;
            width: 15px;
            margin-right: 5px;
            border-radius: 20px;
          }
        }
      }
    }
  }
}

.dashboard .map {
  height: @chartHeight * 2;
  margin-bottom: 0px;
  background: @main;
  border-right: 1px solid @tableBorder;
  border-bottom: 1px solid @tableBorder;
  /*box-shadow: 5px 5px 14px -5px #c5c5c5;*/
  #mouseover {
    display: none;
    margin: 1px !important;
    width: auto;
  }
  .layerToggle {
    background: #111;
    border: 1px solid black;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    color: #f9f9f9;
    padding: 0 2px 0 2px;
    opacity: .8;
    text-align: left;
    width: 90px;
    margin: 1px 0 1px 1px!important;
    &:hover {
      cursor: pointer;
      opacity: .9;
    }
    p {
      font-size: 11px;
      margin: 0 0 3px 0;
      i {
        display: none;
        float: right;
        margin-top: 2px;
      }
      &.active {
        i {
          display: inline;
        }
      }
    }
  }
}

.filters .description {
  padding-top: 10px;
  text-align: left;
}

.dashboard .chart.filters .chart-inner {
  padding: 10px;
}

.dashboard .filters .form-group {
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 5px;
}

.dashboard .filters .radio-inline+.radio-inline, .checkbox-inline+.checkbox-inline {
  margin-left: 2px;
}

.footer, .wrap:after {
  /* .push must be the same height as footer */
  height: 27px; 
}

.footer {
  display: none;
  background: @alternate3;
  color: #efefef;
  padding: 3px 10px;
  overflow: hidden;
  a {
    color: #efefef;
  }
  .linkback {
    float: left;
  }
  .attribution {
    float: right;
  }
}

.map-projects {
  max-height: 200px;
  overflow-y: auto;
}

.map-project {
  border: 1px solid #bbb;
  border-radius: 4px;
  margin: 0px 5px 5px 0;
  .bar {
    float: left;
    height: 5px;
    width: 100%;
    background: #bbb;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
  b {
    color: @alternate3;
  }
  ul {
    margin-top: 5px;
    margin-bottom: 0px;
    padding: 5px;
    background: #ffffff;
  }
}

.projects-icon {
  width: 30px;
  height: 30px;
  background: #333;
  text-align: center;
  font-size: 12px;
  color: #fff;
  border-radius: 15px;
  line-height: 30px;
  border: 1px solid #333;
  font-family: 'Roboto', sans-serif;
}

.projects-icon.charging_fueling_station_technology {
  border-radius: 1px;
}

.projects-icon.multiple {
  background: #333;
}
/*
.projects-icon.multiple.renewable {
  background: fadeout(@lightblue, 20%);
}

.projects-icon.multiple.efficiency {
  background: fadeout(@blue, 20%);
}

.projects-icon.multiple.transportation {
  background: fadeout(@green, 20%);
}
*/

#chartLinkButtons {
  margin: 20px 0 20px 0;
  overflow: hidden;
  text-align: center;
  a {
    display: inline-block;
    margin: 2px;
    width: 220px;
    &:hover {
      text-decoration: none;
      h3 {
        border-color: #506b78;
      }
      .linkButtonImg {
        border-color: #506b78;
      }
      .description {
        border-color: #506b78;
      }
    }
    h3 {
      line-height: 36px;
      font-size: 18px;
      margin: 0;
      float: none;
      color: #333;
      border: 1px solid #a3b8c2;
      padding-left: 10px;
      -webkit-border-top-left-radius: 5px;
      -webkit-border-top-right-radius: 5px;
      -moz-border-radius-topleft: 5px;
      -moz-border-radius-topright: 5px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }
    .linkButtonImg {
      border-bottom: 1px solid #a3b8c2;
      border-left: 1px solid #a3b8c2;
      border-right: 1px solid #a3b8c2;
      padding: 10px;
    }
     .description {
      border-bottom: 1px solid #a3b8c2;
      border-left: 1px solid #a3b8c2;
      border-right: 1px solid #a3b8c2;
      padding: 5px;
      font-size: 10px;
      color: #333;
      -webkit-border-bottom-right-radius: 5px;
      -webkit-border-bottom-left-radius: 5px;
      -moz-border-radius-bottomright: 5px;
      -moz-border-radius-bottomleft: 5px;
      border-bottom-right-radius: 5px;
      border-bottom-left-radius: 5px;
    }
  }
}