
@main: #333;
@alternate: #f1ede8;
@alternate2: #2790B0;
@alternate3: #2B4E72;
@shadow: lighten(@main, 25%);

@textColor: #333;

@chartHeight: 300px;

@tableBorder: lighten(desaturate(@alternate3, 35%), 35%);


@green: #94BA65;
@blue: #2B4E72;
@lightblue: #2790B0;

@meagreen: #008549;
@meagreen: #00B253;

@renewable: #12A6B8;
@efficiency: #2B4E72;
@transportation: #E5972F;