<div class="title">
  {{#toolbar}}
  <div class="toolbar">
    <i class="fa fa-table tool totable"></i>
    <i class="fa fa-bar-chart-o tool tochart"></i>
  </div>
  {{/toolbar}}
  <h3>{{ title }}</h3>
</div>