<div class="{{width}} block">
  <div class="chart">
    {{> title }}
    <div class="chart-inner">
      <div class="chart-tools">
      {{#each tools}}
        <label><input type="radio" name="{{../cid}}-chart-tools" value="{{value}}"> {{text}}</label>
      {{/each}}
      </div>
      <div class="loader"><i class="fa fa-circle-o-notch fa-spin"></i></div>
      <div class="the-chart"></div>
    </div>
  </div>
</div>