<div class="home">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <p class="lead">Welcome to the Maryland Smart Energy Investment Dashboard</p> 
      <p>This dashboard illustrates where the Maryland Energy Administration has contributed to the growth of clean, renewable energy and energy efficiency industries in our state.</p>
      <p>In addition, we pinpoint publicly accessible locations of electric vehicle charging stations and ‘E85’ ethanol fueling stations in our state and around the region.</p>
      <p>Check the map periodically, as we continue the growth of a clean, green Maryland economy.</p>
      <p>Select a section below to begin.</p>
      <p class="lead"> 
        <a href="#renewable" role="button" class="btn btn-default renewable">Renewable Energy</a>
        <a href="#efficiency" role="button" class="btn btn-default efficiency">Energy Efficiency</a>
        <a href="#transportation" role="button" class="btn btn-default transportation">Transportation</a>
      </p>
      <p>Data on this dashboard can be viewed and downloaded from <a href="http://data.maryland.gov">StateStat</a>, Maryland’s Open Data Portal.</p>
      <p>Use the map filter list in the lower left-hand corner of the map to specify the type of geography to compare and to specify whether individual projects should be displayed on the map. Similar geographies can be compared by selecting one or more from the map. Deselect a region by single clicking it on the map or clear all selections using the Reset Map button.</p>
      <p>Individual projects are displayed by default as numbered points on the map. These points are clustered at different zoom levels so as you zoom in on the map, the points disaggregate until a single point is visible or the points break out into their respective technologies. Click an individual project point to view a popup list of statistics relevant to that specific project.</p>
      <p>Use the "Project Filters" buttons to further refine the charts.</p>
      <p>The data display can be manipulated by selecting the chart or table icon in the upper right-hand side of each graph.</p>      
    </div>
  </div>
</div>
<div class="charts">
  <div class="tab-info"><a href="https://data.maryland.gov/dataset/Renewable-Energy-Geocoded/mqt3-eu4s">View and Download Raw Data</a></div>
  <div class="row"></div>
</div>