<div class="home">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <p class="lead">Welcome to the Maryland Smart Energy Investment Dashboard</p> 
      <p>This dashboard illustrates where the Maryland Energy Administration has contributed to the growth of clean, renewable energy and energy efficiency industries in our state.</p>
      <p>In addition, we pinpoint publicly accessible locations of electric vehicle charging stations and ‘E85’ ethanol fueling stations in our state and around the region.</p>
      <p>Check the map periodically, as we continue the growth of a clean, green Maryland economy.</p>
      <p>Select a section below to begin.</p>
      <p class="lead"> 
        <a href="#renewable" role="button" class="btn btn-default renewable">Renewable Energy</a>
        <a href="#efficiency" role="button" class="btn btn-default efficiency">Energy Efficiency</a>
        <a href="#transportation" role="button" class="btn btn-default transportation">Transportation</a>
    </div>
  </div>
</div>
<div class="charts">
  <div class="tab-info"><a href="https://data.maryland.gov/dataset/Renewable-Energy-Geocoded/mqt3-eu4s">View and Download Raw Data</a></div>
  <div class="row"></div>
</div>