<div class="home">
  <div class="row">
    <div class="col-lg-8 col-md-12 col-lg-offset-2 intro">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Welcome to the Maryland Smart Energy Investment Dashboard!</h3>
        </div>
        <div class="panel-body">
        <p>This dashboard illustrates <a href="https://energy.maryland.gov">Maryland Energy Administration’s</a> contributions to the growth of <strong>affordable</strong>, <strong>reliable</strong>, <strong>renewable</strong> energy and <strong>energy efficiency</strong> industries in our state.</p>
      <p>Additionally, this tool pinpoints publicly accessible locations of electric vehicle charging stations and other alternative refueling stations in our State.</p>
      <p>The Maryland Smart Energy Investment Dashboard largely tracks MEA’s investments and is not intended to give a comprehensive summary of all projects and installations across the state. MEA occasionally makes changes in the types of projects eligible for awards; MEA's website has information on currently open programs and the types of projects eligible for awards. Please check the map periodically, as we continue the growth of Maryland’s energy economy.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 col-md-12 col-lg-offset-2">
      <div id="chartLinkButtons">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Select a Section Below to Begin</h3>
          </div>
          <div class="panel-body">
                <div class="linkButton">
                  <h3>Renewable Energy</h3>
                  <div class="linkButtonImg"><a href="#renewable" class="darken"><img src="img/renewable-icon.png"></a></div>
                  <div class="description">Show MEA contributions to the growth of affordable and reliable renewable energy.</div>
                </div>
                <div class="linkButton">
                  <h3>Energy Efficiency</h3>
                  <div class="linkButtonImg"><a href="#efficiency" class="darken"><img src="img/efficiency-icon.png"></a></div>
                  <div class="description">Show MEA contributions to the growth of affordable energy efficiency.</div>
                </div>
                <div class="linkButton">
                  <h3>Transportation</h3>
                  <div class="linkButtonImg"><a href="#transportation" class="darken"><img src="img/transportation-icon.png"></a></div>
                  <div class="description">Show MEA contributions to the growth of affordable and reliable clean transportation.</div>
                </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 col-md-12 col-lg-offset-2">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingTwo">
          <h3 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Dashboard Help
            </a>
          </h3>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
          <div class="panel-body">
            <p>Data on this dashboard can be viewed and downloaded from Maryland’s <a href="https://data.maryland.gov">Open Data Portal</a>.</p>
            <p>View a video User Guide on <a href="https://www.youtube.com/watch?v=UjX0k85u9gQ">YouTube</a>.</p>
            <p>Use the map filter list in the lower left-hand corner of the map to specify the type of geography to compare and to specify whether individual projects should be displayed on the map. Similar geographies can be compared by selecting one or more from the map. Deselect a region by single clicking it on the map or clear all selections using the Reset Map button.</p>
            <p>Individual projects are displayed by default as numbered points on the map. These points are clustered at different zoom levels so as you zoom in on the map, the points disaggregate until a single point is visible or the points break out into their respective technologies. Click an individual project point to view a popup list of statistics relevant to that specific project.</p>
            <p>Use the "Project Filters" buttons to further refine the charts.</p>
            <p>The data display can be manipulated by selecting the chart or table icon in the upper right-hand side of each graph.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="logos">
        <a href="https://energy.maryland.gov"><img src="img/mea_small.png" alt=""></a>
        <a href="https://doit.maryland.gov/Pages/default.aspx"><img src="img/doit_small.png" alt=""></a>
        <a href="https://www.esrgc.org"><img src="img/esrgc_logo.png" alt=""></a>
        <a href="https://www.salisbury.edu"><img src="img/SU logo.png" alt=""></a>
      </div>
    </div>
  </div>
</div>
<div class="charts">
  <div class="tab-info"><a href="https://data.maryland.gov/dataset/Renewable-Energy-Geocoded/mqt3-eu4s">View and Download Raw Data</a></div>
  <div class="row"></div>
</div>