<div class="col-sm-6 block">
  <div class="chart">
    {{> title }}
    <div class="chart-inner">
    <div class="row">

    </div>
      <div class="filters container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="description">
            <p>Select filters below to view Maryland Energy Administration contributions to the growth of clean, renewable energy and energy efficiency industries in our state.</p>
            <!-- <p>Select different layers on the map to view contributions to specific regions in Maryland.</p> -->
            <button type="button" class="btn btn-default btn-xs reset">Reset Map</button>
            </div>
          </div>
          <div class="filter-box technology col-md-6"><div class="filter-title">Technology</div><div class="the-filters"></div></div>
          <div class="filter-box vehicle_technology col-md-6"><div class="filter-title">Vehicle Technology</div><div class="the-filters"></div></div>
          <div class="filter-box charging_fueling_station_technology col-md-6"><div class="filter-title">Charging Station Technology</div><div class="the-filters"></div></div>
          <div class="filter-box sector col-md-6"><div class="filter-title">Sector</div><div class="the-filters"></div></div>
          <div class="filter-box program col-md-6"><div class="filter-title">Program</div><div class="the-filters"></div></div>
        </div>
      </div>
    </div>
  </div>
</div>