<div class="{{width}} block">
  <div class="chart">
    {{> title }}
    <div class="chart-inner">
      <div class="loader"><i class="fa fa-circle-o-notch fa-spin"></i></div>
      <div class="the-chart"><div class="stat"></div></div>
    </div>
  </div>
</div>