<div class="{{width}} block">
  <div class="chart">
    {{> title }}
    <div class="chart-inner">
      <div class="loader"><i class="fa fa-circle-o-notch fa-spin"></i></div>
      <div class="the-chart">
        <div class="stat"></div>
        <div class="note"><span class="efficiency-note">* Investment Leverage for energy efficiency is low due to financing programs, for which investment leverage is not calculated.<br></span>* Residential and Agricultural projects are plotted at the center of their zip codes to ensure recipient privacy.</div>
      </div>
      <div class="nodata">This combination of filters has no applicable projects.</div>
    </div>
  </div>
</div>